@import '../../styles/variabless.scss';

.section-wrap {
  max-width: 1560px;
  margin: 0 auto;
}

.layout {
  display: grid;
  grid-template-columns: 21% 47% 32%;
  height: 100vh;

  @media (max-width: $desktop) {
    grid-template-columns: 10% 65% 25%;
  }

  &-left {
  }

  &-main {
    border-left: 2px solid $color-grey-dark;
    border-right: 2px solid $color-grey-dark;

    .header-main {
      padding: 20px;
      border-bottom: 2px solid $color-grey-dark;
      background-color: $white-background;
      z-index: $start-z;

      &__title {
        font-size: 22px;
        font-weight: 800;
      }
    }
  }

  &-right {
  }
}
