@import '../../styles/variabless.scss';

.layout {
  display: flex;

  @media (max-width: $tablet-sm) {
    padding-top: 50px;
  }
}

.main {
  flex-basis: 615px;
  border-left: 1px solid $color-grey-dark;
  border-right: 1px solid $color-grey-dark;

  .header-main {
    padding: 10px 20px 20px 20px;
    border-bottom: 1px solid $color-grey-dark;
    background-color: $theme-color-main;

    &__title {
      font-size: 22px;
      font-weight: 800;
    }
  }
}

.aside {
  flex-basis: 360px;
  margin-left: 10px;

  &__container {
    height: 100%;
  }

  &__header {
    background-color: $theme-color-main;
    padding: 10px 15px 2px;
  }

  &__content {
    padding: 10px 15px 10px;
  }
}
