@import '../../styles/variabless.scss';

.auth {
  &__login {
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media (max-width: $tablet-sm) {
      width: 100%;
      background-image: url(https://source.unsplash.com/random);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
  }

  &__image-bg {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(https://source.unsplash.com/random);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  &__login-wrapper {
    padding: 0 16px;
    max-width: 560px;

    @media (max-width: $tablet-sm) {
      padding: 16px;

      background: rgba(255, 255, 255, 0.692);
      box-shadow: 0 0 1rem 0 rgba(41, 39, 39, 0.2);
    }
  }
}

.modal {
  &-loginSide {
    display: flex;
    flex: 0 0 50%;
    align-items: center;
    justify-content: center;
  }

  &-loginSideTwitterIcon {
    width: 48;
    height: 48;
  }

  &-loginsidetitle {
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 72px;
    margin-top: 26px;
  }

  &-loginSideRegisterBtn {
    margin-top: 15px;
    margin-bottom: 16px;
  }

  &-loginSideField {
    margin-bottom: 10px !important;
  }
}
