// colors
$tweetter-color: #1da1f2;
$color-grey: rgb(245, 248, 250);
$color-grey-dark: rgb(235, 239, 240);
$theme-light: #ffff;

// breakpoints
$desktop: 1200px;
$tablet: 772px;


// z-index:
$z-index-initial: 1;
$start-z: 5;