@import "../../styles/variabless.scss";

.nav {
  display: flex;
  flex-direction: column;

  &__item {
    display: flex;
    align-items: center;
    margin-top: 12px;
    padding-right: 16px;
    cursor: pointer;

    &:hover {
      border-radius: 24px;
      background-color: $theme-color-border;
    }

    @media (max-width: $tablet-md) {
      padding-right: 0;
      justify-content: center;
    }

    &-title {
      font-size: 18px;
      font-weight: 500;
    }
  }

  &__item-button {
    max-width: 270px;
    padding: 0 10px;

    @media (max-width: $tablet-md) {
      padding: 0;
    }
  }
}

.MuiButton-root.tweet-btn {
  padding: 25px;

  @media (max-width: $desktop-lg) {
    padding: 0;
  }
}
